<h1>Add Book</h1>
<form action="/new_book" method=POST>
    
    <label for="">Book Name:</label>
    <input type="text" name="title">

    <label for="">Author</label>
    <input type="text" name="author">

    <label for="">Image Link</label>
    <input type="text" name="image_url">

    <button>Add Book</button>
</form>