<h1>Sign up</h1>
<form action="/users/add_user" method="POST">
  <label for="">Username:  </label>
  <input type="text" name="username">

  <label for="">Password </label>
  <input type="password" name="password_digest"> 

  <button>Sign up</button>
</form>